.page {
    display: none;
    padding: 50px 50px;
    
}

.page.active {
    display: block;
}

header {
    background-color: #2c3e50;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    background: none;
    color: #ffffff;
    border: none;
    font-size: 16px;
    margin-right:20px;
    cursor: pointer;
}
button:hover {
    color: #ffe600;
}

a {
    font-size: 5.0rem;
}

.fa-brands, .fa-github, .fa-x-twitter {
    font-size: 1.8rem;
    margin-right: 12px;
}
.fa-brands, .fa-github, .fa-x-twitter {
    font-size: 10.0rem;
    vertical-align: middle; 
    margin-right: 8px;
    color: #0d1117;
}

a:hover .fa-github,
a:hover .fa-x-twitter {
    color: #ffe600;
}


.site-header .contact {
    display: flex;
    align-items: center;
    gap: 10px;
}
.site-header .contact .fa-brands {
    color: #ffffff;
    font-size: 1.5rem;
}
.site-header .contact-text {
    color: #ffffff;
    font-size: 1.0rem;
}