body {
    font-size: 20px; 
    line-height: 1.2;
    background-color: #a2f4ffde;
    margin: 0 !important;
}
header {
    background-color: #00488f;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    background: none;
    color: #ffffff;
    border: none;
    font-size: 16px;
    margin-right:20px;
    cursor: pointer;
}
button:hover {
    color: #ffe600;
}

a {
    font-size: 2.0rem;
}

a:hover .fa-github,
a:hover .fa-x-twitter {
    color: #48f6fc;
}
h1 {
    color: #00f7ff;
}
h2 {
    color: #ffffff;
}
ul {
    color: #ffffff;
}
.fa-brands, .fa-github, .fa-x-twitter {
    font-size: 1.8rem;
    margin-right: 12px;
}
.fa-brands, .fa-github, .fa-x-twitter {
    font-size: 10.0rem;
    vertical-align: middle; 
    margin-right: 8px;
    color: #0d1117;
}

.site-header .contact {
    display: flex;
    align-items: center;
    gap: 10px;
}
.site-header .contact .fa-brands {
    color: #ffffff;
    font-size: 1.5rem;
}
.contact-text {
    color: #ffffff;
    font-size: 1.0rem;
}
.page {
    display: none;
    padding: 50px 50px;
    border: 2px solid #2c3e50;
    background-color: #00488f;
    border-radius: 10px;
    max-width: 475px;
    margin: 40px auto;
}

.page.active {
    display: block;
}
