body {
    line-height: 1.2;
    background-color: #003135de;
    margin: 0 !important;
}
header {
    background-color: #00488f;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    background: none;
    color: #ffffff;
    border: none;
    font-size: 25px;
    margin-right:20px;
    cursor: pointer;
}
button:hover {
    color: #00fff2;
}

a {
    font-size: 2.0rem;
    text-decoration: none;
}

a:hover .fa-github,
a:hover .fa-x-twitter {
    color: #48f6fc;
}
h1 {
    color: #00f7ff;
}
h2 {
    color: #ffffff;
}
ul {
    color: #ffffff;
}

.fa-brands, .fa-github, .fa-x-twitter {
    font-size: 10.0rem;
    vertical-align: middle; 
    color: #ffffff;
}

.site-header .contact {
    display: flex;
    align-items: center;
    gap: 10px;
}
.site-header .contact .fa-brands {
    color: #ffffff;
    font-size: 1.5rem;
}
.contact-text {
    color: #ffffff;
    font-size: 1.0rem;
}
.page {
    display: none;
    padding: 50px 50px;
    border: 2px solid #000000;
    background-color: #00488f;
    border-radius: 10px;
    max-width: 500px;
    margin: 40px auto;
    position: relative;
}

.page.active {
    display: block;
}
.profile-outer-photo {
    position: absolute;
    left: -200px;        
    top: 50px; 
    width: 160px;
    height: 160px;
    border: 2px solid #000000;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 1000px) {

    body {
        font-size: 25px; 
        line-height: 1.6; 
    }

    header {
        flex-direction: column;
    }

    button {
        margin: 5px 10px;
        font-size: 50px;
    }

    .page {
        max-width: 90%; 
        padding: 30px 20px;
        margin: 20px auto;
    }

    .profile-outer-photo {
        position: static;
        display: block;
        margin: 0 auto 20px;
        width: 150px;
        height: 150px;
    }

    .fa-brands, .fa-github, .fa-x-twitter {
        font-size: 15.0rem; 
        margin: 10px;
    }
    
}